* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding-top: 5vh;
}
.container section {
  transition: 0.8s;
}
.container section .days {
  transition: 0.4s;
}
.container section h2 {
  transition: 0.5s;
  font-weight: 500;
  font-size: 3vh;
  margin: 10px 20px 10px 20px;
}
.container section .day {
  transition: 0.4s;
  font-size: 2.4vh;
  margin: 5px;
  cursor: pointer;
}
.container section .day:hover {
  transform: scale(190%);
  color: rgb(63, 223, 48);
  opacity: 1;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(50px, 1fr));
}
.gridContainer .days {
  border: 2px groove black;
  padding: 2vh;
}
.gridContainer .February .days :last-child {
  opacity: 0.2;
}
.gridContainer .February .days :last-child:hover {
  transform: rotate(720deg);
}
.gridContainer section {
  text-align: justify;
  margin: 10px 25px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gridContainer section .day {
  display: inline-grid;
}

.flexContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.flexContainer section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.flexContainer section .days {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px groove black;
}

.blockContainer {
  display: inline-block;
}
.blockContainer section {
  margin-inline: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.blockContainer section h2 {
  display: block;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.blockContainer section .day {
  display: inline-block;
}

.grow {
  letter-spacing: 3.2vh;
  font-weight: 400 !important;
  padding: 20px 0 10px 0;
}

.rotate {
  transform: rotate(720deg);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.visible {
  display: block;
}

@media only screen and (max-width: 600px) {
  body .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
  }
  body .gridContainer section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
  }
  body .gridContainer section h2 {
    font-size: 2vh;
  }
  body .gridContainer section .day {
    font-size: 2vh;
    display: grid;
  }
}
@media only screen and (max-width: 900px) {
  body .gridContainer section h2 {
    font-size: 2vh;
    margin: 10px 0 0 10px;
  }
  body .gridContainer section .day {
    font-size: 2vh;
  }
}/*# sourceMappingURL=style.css.map */