* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gridContainer {
    height: 50vh;
    width: 100%;
    background-color: antiquewhite;
    display: inline-grid;
    section {
        display: flex;
    }
}
.flexContainer {
    height: 50vh;
    width: 100%;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    section {
        display: flex;
    }
}
.blockContainer {
    width: 100%;
    height: 100%;
    display: block;
    section {
        .day {
            display: inline-block;
        }
    }
}
